/**
 * Used google fonts:
 * - Monserrat Alternates (Regular 400)
 * - Red Hat Mono (Light 300)
 * - Red Hat Mono (Semi Bold 600)
 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Red+Hat+Mono:wght@300;600&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: var(--srs-background);
}

.srs-logo {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: large;
}

/*****************************
* element plus modifications *
*****************************/

.el-notification {
    font-family: 'Red Hat Mono', monospace;
}

.el-menu-item, .el-sub-menu {
    font-family: 'Montserrat Alternates', sans-serif;
}
.el-menu-item.dock-right, .el-sub-menu.dock-right {
    margin: auto 0;
    margin-left: auto;
}

.el-dropdown-menu {
    font-family: 'Montserrat Alternates', sans-serif;
}

.el-dialog__title, .el-drawer__header, .el-popconfirm__main {
    font-family: 'Red Hat Mono', monospace;
}

.el-table, .el-form-item {
    font-family: 'Montserrat Alternates', sans-serif;
}